.container{
    background: radial-gradient(#3d91ff,#003f92);
    display: block;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#list_adder{
    position: absolute;
    width: 500px;
    height: 600px;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#list_footer{
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 425px;
    align-items: end;
}

.text{
    width: 240px;
    margin-right: 50px;
    margin-left: 90px;
    display: inline-block;
    margin-left: auto;
}
#clear_button{
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 100px;
}

ul{
    display:block;
    width: 100%;
    padding: 0;
    margin: 30px;
    margin-left: 60px;
    text-align: center;
    position: inherit;
}

li{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    list-style: none;
    text-align: left;
    font-family: inherit;
}

.buttons{
    display: inline-block;
    margin-left: 350px;
    position : absolute;
    cursor: pointer;
    padding: auto;
}

.title{
    text-align: center;
}

.list_creator{
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 20px;
    align-items: end;
}

.delete_button{
    background-color: #fff;
    border: none;
}

.delete_button:hover{
    cursor: pointer;
    background-color: #dbdbdb;
    border-radius: 30px;
}

/* clear button section */

#clear_button {
    position: relative;
    font-size: 10px;
    padding: 0.7em 1.4em;
    background-color: rgb(191, 4, 38);
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    color: #DEDEDE;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  }
  
  #clear_button::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(221, 221, 221) 50%, rgba(150,4,31,1) 50%, rgba(191,4,38,1) 60%);
    border-radius: 0 0 0.5em 0;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    transition: 0.3s;
  }
  
  #clear_button:hover::before {
    width: 1.2em;
    height: 1.2em;
  }
  
  #clear_button:active {
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    transform: translate(0.1em, 0.1em);
  }

  #clear_button:hover{
    cursor:pointer;
  }
b{
    width: auto;
    height: 20px;
}



.add_button:hover{
    cursor: pointer;
    box-shadow: 0 0 5px rgb(0,140,255),
    0 0 25px rgb(0,140,255),
    0 0 50px rgb(0,140,255),
    0 0 100px rgb(0,140,255);
}

.text_span:hover{
    text-decoration: line-through;
    cursor: pointer;
    color:rgb(191, 4, 38);
}
.line_in_text{
    text-decoration: line-through;
    color:rgb(191, 4, 38);
    font-family: inherit;
}

#add_button{
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 40px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.add_button{
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
}


    #task{
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 20px 20px 60px #c5c5c5,
           -20px -20px 60px #ffffff;
    transition: 0.3s;
    height: 10px;
    margin-right: 15px;
   }
   
    #task:focus {
    outline-color: rgb(230, 244, 255);
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px rgb(196, 229, 255),
           inset -20px -20px 60px #ffffff;
    transition: 0.3s;
   }


   /*title design*/

    .title {
    font-size: 30px;
    color: #505050;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 150px;
    text-align: center;
    align-items: center;
  }
  
  .title:focus,
  .title:hover {
    color: rgb(0,140,255);
  }
  
  .title:focus:after,
  button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .title:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: rgb(0,140,255);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  .text{
    color:rgb(163, 178, 197);
  }

  .counter_limit{
    color: rgb(191, 4, 38);
  }

  .counter_available{
    color: rgb(163, 178, 197);
  }

  .unavailable_add_button{
    background: rgb(163, 178, 197);
    box-shadow: 0 0 25px rgb(163, 178, 197);
  }

  #footer{
    position: absolute;
    width: 350px;
    height: 5px;
    top: 88%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 20px;
    border-radius: 30px;
   
  }

  #footer_text{
    position:absolute;
    top:0%;
  }